/*body*/
body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("images/bats.gif");
  background-repeat: repeat;
  margin: 0;
  padding: 0;
}

.main_page {
  margin: 0px 300px 100px 300px;
  background-color: white;
  border: black solid 5px;
  box-shadow: 17px 22px 20px rgba(0, 0, 0, 0.9), -17px 22px 20px rgba(0, 0, 0, 0.9);
}

/* Header */
#head {
  background: radial-gradient(circle at bottom left, white 5%, orange 35%, black 105%);
  display: flex;
  align-items: center;
  gap: 10px;
}

#image {
  margin-left: 10px;
  width: 60px;
  height: 55px;
}

.text {
  color: #000000;
  line-height: 10px;
}

/* Navigation Menu */
.nav > ul {
  background-color: #000000;
  gap: 20px;
  margin: 0;
  display: flex;
  list-style-type: none;
  padding-left: 25px;
  overflow: hidden;
}

.nav li a {
  padding: 15px;
  text-decoration: none;
  display: block;
  color: white;
  text-align: center;
}

.nav li a:hover {
  background-color: gray;
}

.nav > ul #nav_sublist {
  display: none;
  min-width: 151px;
  padding: 0px;
  background-color: black;
  position: absolute;
  text-align: center;
}

.nav > ul #nav_sublist li a {
  color: white;
  padding: 10px;
}

.nav > ul #nav_sublist li a:hover {
  background-color: grey;
}

/* Show dropdown on hover */
.nav > ul li:hover > #nav_sublist {
  display: block;
}

.nav a.active {
  color: orange;
}


/* Main content area */
.side_content {
  display: flex;
  gap: 20px;
}

/* Sidebar */
.side {
  margin-top: 25px;
  margin-left: 15px;
}

.side .side_list {
  padding-left: 5px;
  padding-right: 5px;
  margin: 5px;
  text-decoration: none;
  font-size: 15px;
  display: block;
  background: #f6a400;
  border: 2px solid #000;
  color: #000;
  font-weight: 800;
  text-align: left;
}

.side a:hover {
  color: green;
}

.main_content .char{
  font-size: 50px;
}
.main_content .para { 
  margin-right: 44px; 
  font-size: 12px; 
} 
.main_content .cat_image {
  display: block; 
  margin-bottom: -15px; 
  width: 95px; 
  height: 95px;  
} 
.main_content .cat_link { 
  color: hsl(40, 97%, 48%);
 } 
 .main_content a:hover { 
  color: rgb(2, 142, 2); 
}



/* Products list page */
#prod_content {
  display: flex;

}

/* right section for h2 + table */
#product_page {
  margin-left: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

#product_page h2 {
  text-align: left;
  margin-top: 10px;
  font-weight: 800;
}

/* Table styles */
table {
  border-collapse: collapse;
  margin-top: -15px;
}

th {
  text-align: left;
  padding: 10px 8px;
  font-weight: 700;
}

td {
  padding: 10px 8px;
  vertical-align: top;
  font-weight: 700;
}

#table_desc a {
  padding-left: 40px;
  padding-right: 40px;
  color: #0a0a0a;
  font-weight: 700;
}

#table_price {
  background-color: #fcd57d;
  text-align: right;
  font-weight: 700;
}

#table_category,
#table_desc,
#table_price {
  line-height: 2px;
  font-size: 15px;
  padding-right: 10px;
}


/*cat page*/

#cat_page{
  margin-top: -5px;
}
#cat_img{
  display: flex;
  gap: 30px;
}

#cat_img .derangedCat{
  width: 130px;
  height: 130px;
}

#cat_page p{
  margin-top: 2px;
  font-size: 11px;
  font-weight: 500;
}

.cat_side{
  background-color: rgb(247, 222, 176);
}

.cat_side p{
  margin-left: 10px; 
  margin-right: 30px;
  font-size: 13px; 
}

.cat_side ul{
  list-style: none;
  margin-left: -10px;
}

.cat_side ul #cat_side_list{
  font-size: 12px; 
  padding-bottom: 10px; 
}

.cat_side ul li a:hover{
color: green;
}

.cat_side img{
  width: 50px;
  height: 50px;
}

/* Footer */
#footer_section {
  color: #000000;
  font-size: 10px;
  padding: 10px 0;
  text-align: center;
  background: radial-gradient(circle at bottom right, white 3%, orange 35%, black 105%);
  border-top: 2px solid #000000;
  box-shadow: 0 -5px 8px rgba(0, 0, 0, 0.4);
  font-family: Arial, Helvetica, sans-serif;
}

